/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/profiles.clj
dev/local.clj
.idea
*.iml
figwheel_server.log
resources/private/out
resources/private/main.js
deploy.sh

