{:http {:port 3000}
 :logging {:file "event-site.log"}
 :db {:uri "mongodb://localhost/event-site"}
 :security {:require-common-password true
            :common-password "testi"
            :admin-password "salaisuus"
            :cookie-secret "changeitchangeit"}
 :email {:from "info@domain.local"
         :subject "Thank you and welcome!"
         :body "Test."}
 :registration {:start "2015-10-01T09:00:00Z"
                :end "2015-11-26T19:25:00Z"}}
