body, html, #app, .app-container, .content {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.menu-wrapper {
  width: 100%;
  height: 75px;
  position: fixed;
  background-color: rgba(0, 47, 180, 0.6);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu {
  width: 980px;
  height: 75px;
  margin: 0 auto;
}

.menu ul {
  margin: 15px 0 0 0;
}

.menu ul li {
  list-style: none;
  margin: 0 30px 0 0;
  display: inline;
}
.active {
  color: yellow;
}
a {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  line-height: 50px;
}
#home {
  background-color: grey;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("http://lorempixel.com/1600/800");
}
#portfolio {
  background-image: url("http://lorempixel.com/1600/900");
  height: 100%;
  width: 100%;
}
#about {
  background-color: blue;
  height: 100%;
  width: 100%;
}
#contact {
  background-color: red;
  height: 100%;
  width: 100%;
}
