@font-face {
  font-family: 'es-icons';
  src: url('/fonts/es-icons.eot?32651143');
  src: url('/fonts/es-icons.eot?32651143#iefix') format('embedded-opentype'), url('/fonts/es-icons.woff?32651143') format('woff'), url('/fonts/es-icons.ttf?32651143') format('truetype'), url('/fonts/es-icons.svg?32651143#es-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'es-icons';
    src: url('/fonts/es-icons.svg?32651143#es-icons') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "es-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-login:before {
  content: '\e802';
}
/* '' */
.register-form {
  color: black;
  max-width: 600px;
}
.register-form .input-fields input {
  margin-bottom: 8px;
}
body,
html,
#app,
.app-container,
.content {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.login-page {
  background-color: #e2f3ff;
}
.login {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  height: 150px;
}
.login form {
  font-size: 24px;
}
.login form .label {
  margin-bottom: 15px;
}
.login form input {
  font-size: 24px;
}
.login form .submit {
  margin-top: 15px;
}
.login form .submit button {
  font-size: 24px;
  background: transparent;
  border: none;
}
.menu-wrapper {
  width: 100%;
  height: 75px;
  position: fixed;
  background-color: rgba(0, 47, 180, 0.6);
}
.menu {
  width: 90%;
  max-width: 980px;
  height: 75px;
  margin: 0 auto;
  font-size: 20px;
}
.menu ul {
  margin: 15px 0 0 0;
  padding: 0;
}
.menu ul li {
  list-style: none;
  margin: 0 30px 0 0;
  display: inline;
}
.active {
  font-weight: bold;
}
a {
  color: #fff;
  text-decoration: none;
  line-height: 50px;
}
.content-section {
  height: 100%;
  width: 100%;
  background-color: grey;
  overflow: hidden;
  padding: 80px 0;
  color: white;
}
.content-section .markup-container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}
.content-section h1 {
  font-size: 36pt;
  font-weight: 300;
}
#home {
  background-image: url("http://lorempixel.com/1600/800");
}
#work {
  background-image: url("http://lorempixel.com/1600/900");
}
#about {
  background-color: #db96ff;
}
#contact {
  background-color: #4f0322;
}
